.box {
	height: 40px;
	width: 180px;
	overflow: hidden;
	position: relative;
}
.box::before {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	content: "";
	height: 10px;
	position: absolute;
	background: linear-gradient(180deg, #242424, rgba(255, 255, 255, 0));
}
.box::after {
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	content: "";
	height: 10px;
	position: absolute;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0), #242424);
}

ul {
	margin: 0;
	padding: 0;
	-webkit-animation: scrollUp 3s infinite linear;
	animation: scrollUp 3s infinite linear;
}
ul li {
	opacity: 1;
	height: 20px;
	padding: 25px;
	list-style: none;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes scrollUp {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-90%);
	}
}
@keyframes scrollUp {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-110%);
	}
}
