@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "URWGothic-Book";
	src: local("URWGothic-Book"),
		url(./fonts/URWgothic/URWGothic-demi.ttf) format("truetype");
	/* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

:root {
	font-family: URWGothic-Book, sans-serif;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#root {
	height: 100%;
	width: 100%;
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
}
